# source
lib
tests
index.ts
package-lock.json
tslint.json
tsconfig.json
.prettierrc

# github
cover.png
.github
CONTRIBUTING.md
CODE_OF_CONDUCT.md
README.md

# misc
.commitlintrc.json
.release-it.json
.eslintignore
.eslintrc.js